<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phê duyệt lịch đăng kí</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .bold {
            font-weight: bold;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

<div class="container mt-5">
    <div th:include="subTemplates/header-home.html"> </div>

    <h2>Phê duyệt lịch đăng kí</h2>

    <!-- Dropdown list of courses -->
    <div class="form-group">
        <label for="coursesDropdown">Chọn môn học:</label>
        <select class="form-control" id="coursesDropdown" onchange="redirectToSelectedSubject()">
            <option value="">Chọn một môn học</option>
            <!-- Sử dụng Thymeleaf để lặp qua danh sách các môn học và hiển thị chúng -->
            <th:block th:each="subject : ${listSubject}">
                <option th:value="${subject.id}" th:text="${subject.name}"></option>
            </th:block>
        </select>
    </div>


    <script>
        // Hàm này được gọi khi trang được load lại
        window.onload = function() {
            // Lấy id của môn học từ đường dẫn URL
            var selectedSubjectId = window.location.pathname.split('/').pop();

            // Kiểm tra xem selectedSubjectId có giá trị không rỗng
            if (selectedSubjectId) {
                // Đặt giá trị của dropdown thành id của môn học được chọn trước đó
                document.getElementById("coursesDropdown").value = selectedSubjectId;
            }
        };

        function redirectToSelectedSubject() {
            // Lấy giá trị id của môn học được chọn
            var selectedSubjectId = document.getElementById("coursesDropdown").value;

            // Kiểm tra xem giá trị đã được chọn chưa
            if (selectedSubjectId) {
                // Chuyển hướng đến URL mong muốn với id của môn học được chọn được thêm vào
                window.location.href = "/review/subject/" + selectedSubjectId;
            }
        }
    </script>

    <!-- Table for class schedule approval -->
    <h1 th:text="${error}" style="color: red"></h1>
    <table class="table">
        <thead>
        <tr>
            <th>Nhóm</th>
            <th>Tên lớp học phần</th>
            <th>Thời gian dạy</th>
            <th>Thời gian đăng kí</th>
            <th>Giảng viên</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody id="registeredClasses">
        <!-- Thymeleaf iteration to populate table rows -->
        <tr th:each="picked : ${listPicked}">
            <td th:text="${picked.getId()}"></td>
            <td th:text="${picked.getSectionClass().getSubjectOfSemester().getSubject().getName()}"></td>
            <td th:text="${picked.getSectionClass().getSchedules().get(0).getPeriod().getName()} + ' ' +  ${picked.getSectionClass().getSchedules().get(0).getDay().getName()} +' '+ ${picked.getSectionClass().getSchedules().get(0).getPeriod().getDescription()}"></td>
            <td th:text="${picked.pickedTime}"></td>
            <td>
<!--                <select th:id="'teacher-select-' + ${picked.id}" class="teacher-select form-control">-->
<!--                    &lt;!&ndash; Thymeleaf iteration to populate dropdown options &ndash;&gt;-->
<!--                    <option th:each="teacher : ${teacherList}" th:value="${teacher.getId()}" th:text="${teacher.getStaff().getMember().getName()}"></option>-->
<!--                </select>-->
                <select th:id="'teacher-select-' + ${picked.id}" class="teacher-select form-control">
                    <!-- Thymeleaf iteration to populate dropdown options -->
                    <option th:each="teacher : ${teacherList}"
                            th:value="${teacher.getId()}"
                            th:text="${teacher.getStaff().getMember().getName()}"
                            th:selected="${picked.teacher != null and picked.teacher.id == teacher.id}"></option>
                </select>
            </td>
<!--            <td>-->
<!--                <button th:id="'delete-btn-' + ${picked.id}" class="delete-btn btn btn-danger"-->
<!--                        th:attr="data-pickedId=${picked.id}, data-teacherId='teacher-select-' + ${picked.id}">Lưu-->
<!--                </button>-->
<!--            </td>-->
            <td>
                <button th:id="'delete-btn-' + ${picked.id}" class="delete-btn btn btn-danger"
                        th:if="${picked.review == 1}"
                        th:text="'Đã Phê Duyệt'"
                        th:attr="data-pickedId=${picked.id}, data-teacherId='teacher-select-' + ${picked.id}"
                        disabled>Lưu</button>
                <button th:id="'delete-btn-' + ${picked.id}" class="delete-btn btn btn-danger"
                        th:if="${picked.review != 1}"
                        th:attr="data-pickedId=${picked.id}, data-teacherId='teacher-select-' + ${picked.id}">Lưu</button>
            </td>
        </tr>
        </tbody>
    </table>
    <script th:inline="javascript">
        $(document).ready(function() {
            $('.delete-btn').click(function() {
                var pickedId = $(this).data('pickedid');
                var teacherId = $('#' + $(this).data('teacherid')).val();
                var url = '/review/save-picked?idpicked=' + pickedId + '&idteacher=' + teacherId;
                window.location.href = url;
            });
        });
    </script>

<!--    <script>-->
<!--        $(document).ready(function() {-->
<!--            $('.delete-btn').click(function() {-->
<!--                console.log("Button clicked"); // Kiểm tra xem hàm này có được kích hoạt khi nhấp vào nút "Lưu" không-->
<!--                var pickedId = $(this).data('pickedId');-->
<!--                var teacherId = $('#' + $(this).data('teacherId')).val();-->

<!--                // Gửi yêu cầu POST đến endpoint mới-->
<!--                $.post("/review/save-picked", { pickedId: pickedId, teacherId: teacherId })-->
<!--                    .done(function(data) {-->
<!--                        // Xử lý phản hồi từ server nếu cần-->
<!--                        console.log(data);-->
<!--                        // Chuyển hướng sau khi xử lý thành công-->
<!--                        window.location.href = "/home"; // Thay thế your-redirect-url bằng URL bạn muốn chuyển hướng sau khi xử lý-->
<!--                    })-->
<!--                    .fail(function(xhr, status, error) {-->
<!--                        // Xử lý lỗi nếu có-->
<!--                        console.error(xhr.responseText);-->
<!--                    });-->
<!--            });-->
<!--        });-->
<!--    </script>-->


<!--    &lt;!&ndash; Button to save approval &ndash;&gt;-->
<!--    <button type="button" class="btn btn-primary" onclick="saveApproval()">Lưu phê duyệt</button>-->
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
